<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" *ngFor="let dt of data;" [routerLink]="['detail',dt.title,dt.subtitle,dt.img,dt.content]" routerDirection="forward" >
      <ion-img src="{{dt.img}}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{dt.subtitle}}</ion-card-subtitle>
        <ion-card-title>{{dt.title}}</ion-card-title>
      </ion-card-header>
      <!-- <ion-card-content color="primary">
        <p>{{dt.content}}</p>
      </ion-card-content> -->
    </ion-card>
   
</ion-content>
